* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bg-blue {
    background-color: rgb(22, 22, 141);
}

.font-white {
    color: white;
}

.font-sm {
    font-size: 22px;
}

.no-li-style {
    list-style: none;
}

.no-a-style {
    text-decoration: none;
}

/* Header & Nav */
.biz-container{
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logo {
    width: 7rem;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem black;
}

.business-title {
    margin-top: 3rem;
    margin-left: 0.5rem;
    font-size: 1.8rem;
    text-align: center;
    text-shadow: 0 0 0.5rem black;
}

.nav-ul {
    margin-top: 1rem;
}

.nav-links {
    width: 5rem;
    text-align: center;
    background-color: rgb(158, 22, 22);
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem black;
}