@font-face {
    font-family: AlexBrush;
    src: url(./assets/fonts/AlexBrush-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
}


.bg-blue {
    background-color: rgb(22, 22, 141);
}

.font-white {
    color: white;
}

.font-sm {
    font-size: 1.3rem;
}

.font-b-style {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-weight: 700;
}

.no-li-style {
    list-style: none;
}

.no-a-style {
    text-decoration: none;
}

.li-span {
    border-bottom: 2px solid rgb(22, 22, 141);
}

/* Header & Nav */
header {
    box-shadow: 0 0 0.5rem black;
}

.center-logo {
    margin: 1rem 0;
    text-align: center;
}

.center-title {
    margin-top: 2rem;
    text-align: center;
    font-family: 'AlexBrush', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: -0.2rem -0.2rem 0.5rem black;
}

.text-right {
    margin: 3rem 1rem;
    text-align: right
}

.text-left {
    margin: 3rem 1rem;
    text-align: left;
}

.logo {
    width: 8rem;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem black;
}

.nav-drop-center {
    width: 15rem;
    color: white;
    text-align: center;
}

.nav-content {
    text-align: center;
    margin-top: 7rem;
    border-radius: 1rem;
    text-shadow: -0.2rem -0.2rem 0.5rem black;
}

.nav-content:hover {
    box-shadow: 0 0 0.5rem rgb(68, 1, 1);
}

#dropdown-basic-button {
    background-color: rgb(189, 21, 21);
    width: 5rem;
}

.dropdown-menu {
    border-radius: 1rem;
    background-color: rgb(189, 21, 21, 0.9);
    box-shadow: 0 0 0.5rem rgb(3, 3, 66);
}

.dropdown-item:hover {
    color: white;
    border-radius: 1rem;
    background-color: rgb(189, 21, 21, 0.9);
    box-shadow: 0 0 0.5rem rgb(3, 3, 66);
}

/* Footer Style */
.footer-lg {
    box-shadow: 0 0 0.5rem black;
    margin-top: 16rem;
    width: 100%;
}

.footer-logo {
    width: 5rem;
    height: 5rem;
}

.footer-title {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: 'AlexBrush', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: -0.2rem -0.2rem 0.5rem black;
}

.footer-font {
    font-size: 1rem;
}

.arr {
    margin-top: 1rem;
    display: flex;
}

.arr-mini {
    display: flex;
    font-size: 1rem;
}

.aRR {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.phone {
    margin-top: 2rem;
}

/* Carousel begin */
.caro-slide-pics {
    width: 20rem;
    height: 25rem;
    margin: 0.5rem 0;
    border-radius: 5rem;
    text-align: center;
    box-shadow: 0rem 0rem 0.5rem black;
}

.center-items {
    text-align: center;
}

.red-letters {
    color: white;
    text-shadow: 0rem 0rem 0.5rem rgba(255, 0, 0, 0.7);
    font-weight: 700;
}

.caro-back {
    background-color: rgb(209, 21, 21);
    border-radius: 5rem;
}